# Add any directories, files, or patterns you don't want to be tracked by version control

settings/*
bin/*
.classpath
*.classpath
*.project
*.idea
*.vscode
.vscode
.idea
.xml
.json
.project
*.class
*/.settings
.settings
node_modules/*