*{
    margin: 0;
    padding: 0;
}


ul{
    float: left;
}
li{
    display: block;
    width: 100%;
    padding: 5px;
    margin: 25px 0;
    text-align: center;
}

aside{
    min-width: 200px;
}

div,.shapeContainer{
    float: left;
}

.buttonsContainer{
    min-width: 200px;
    height: 420px;
}

h3{
    text-align: center;
    margin: 10px 0;
}
.shapeContainer{
    margin: 10px;
    background-color: lightgray;   
    height: 420px;
    padding: 20px;
    overflow-y: scroll;
}
   
.outline_selected{
    outline: 1px solid whitesmoke;    
}