*{
    margin: 0;
    padding: 0;
}


ul{
    float: left;
}
li{
    display: block;
    width: 100%;
    padding: 5px;
    margin: 25px 0;
    text-align: center;
}

.shapeContainer{
    margin: 10px;
    background-color: lightgray;   
    height: 420px;
    float: left;
    padding: 20px;
    overflow-y: scroll;
}
   
.outline_selected{
    outline: 1px solid whitesmoke;    
}